{% extends "base.html" %}

{% block content %}
<h2 class="header_title">Симуляция горизонтального движения целевого объекта g=5</h2>

<form class="main_menu" method="post">
    <h3>Выберите тип координат</h3>
    <div class="tab">
        <div class="input_group">
            <span>Полярные координаты</span>
            <input name="coord_case" value="1" class="" type="radio" required {% if coord_case == 1 %} checked {% endif %}>
        </div>
        <div class="input_group">
            <span>Декартовы координаты</span>
            <input name="coord_case" value="2" class="" type="radio" required {% if coord_case == 2 %} checked {% endif %}>
        </div>
    </div>
    <h3>Выберите единицу измерения угла (для полярных координат)</h3>
    <div class="tab">
        <div class="input_group">
            <span>Радианы</span>
            <input name="angle_case" value="1" class="" type="radio" required {% if angle_case == 1 %} checked {% endif %}>
        </div>
        <div class="input_group">
            <span>Градусы</span>
            <input name="angle_case" value="2" class="" type="radio" required {% if angle_case == 2 %} checked {% endif %}>
        </div>
    </div>
    <button class="menu_btn">Запуск</button>
</form>

{% if show_results %}
    <div class="main_menu">
        <h1 style="text-align:center;">Результаты</h1>
        <div style="position:relative;">
            {% for item in rows %}
                {% if item['flag'] %}
                    <div style="width:100%; height: 400px; z-index:{{loop.index0 + 2}}; position:absolute; top:0;left:0; background:white;">
                        <table style="width: 100%;" cellspacing="20">
                            <tr>
                                {% for i in item %}
                                    {% if i != 'flag' %}
                                        <td class="td">{{i}}: {{item[i]}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </table>
                        <div style="display:flex;flex-direction:row; justify-content:center; margin-top:20px;">
                            <a style="font-size:30px; color:blue; cursor:pointer; padding:5px; text-decoration:none;border:1px solid blue" href="/stop_run/{{run_id}}" target="_blank"><b>Оценить</b></a>
                        </div>

                        <div style="display:flex; flex-direction:row; justify-content:flex-end; color:grey; margin-top:100px;">
                            <label>Кадр {{loop.index0 + 1}}</label>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}