{% extends "base.html" %}

{% block content %}
<!--h2 class="header_title">Симуляция горизонтального движения целевого объекта g=5 (проверка)</h2-->

<div class="main_menu">
    <h1 style="text-align:center;">Результаты</h1>
    <div style="width:100%; z-index:2; background:white;">
        <table style="width: 100%;" cellspacing="20">
            <tr>
                <td class="td">r: {{r_pred}}</td>
                <td class="td">fi: {{fi_pred}}°</td>
                <td class="td">threshold: {{threshold}}</td>
            </tr>
        </table>
    </div>
    <br/>
</div>
{% endblock %}